<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DriftMindWeb</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chat">
                <span class="bi bi-chat-dots-nav-menu" aria-hidden="true"></span> DriftMind Chat
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="documents">
                <span class="bi bi-folder-fill-nav-menu" aria-hidden="true"></span> Dokumente
            </NavLink>
        </div>
        
        <div class="nav-brand-image mt-4">
            <a href="https://www.driftmind.net">
                <img src="/images/nav/driftmind.png" alt="DriftMind" class="nav-logo" />
            </a>
        </div>
        
        <div class="nav-powered-by mt-3">
            <p class="powered-text">Powered by</p>
            <a href="https://www.viganolabs.de" target="_blank" rel="noopener noreferrer">
                <img src="/images/nav/viganolabs.png" alt="ViganoLabs" class="viganolabs-logo" />
            </a>
        </div>
    </nav>
</div>

